<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>VivaCardio.com</span>
    <span class="example-spacer"></span>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/register']">
        <mat-icon>person_add</mat-icon>
        <span>Signup</span>
      </button>
      <button mat-menu-item [routerLink]="['/login']">
        <mat-icon>vpn_key</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
