<mat-card>
  <mat-card-title>{{ 'NAVIGATION.NEW_REGISTRATION' | translate }}</mat-card-title>
  <mat-card-content>
    <div class="form__vertical">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'FORM.EMAIL' | translate }}:</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'FORM.PASSWORD' | translate }}:</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'FORM.CONFIRM_PASSWORD' | translate }}:</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">{{ 'BUTTON.SUBMIT' | translate }}</button>
  </mat-card-actions>
</mat-card>
