<mat-card *ngFor="let patient of patients">
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/patient', patient.id]">{{ patient.name }}</a>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-icon-button [routerLink]="['/blood-pressure', patient.id]"><i class="flaticon-heart"></i></button>
    <button mat-icon-button><i class="flaticon-weight"></i></button>
    <button mat-icon-button><i class="flaticon-diabetes"></i></button>
  </mat-card-actions>
</mat-card>


<button mat-fab color="primary" (click)="addNewPatientDialog()">
  <mat-icon>add</mat-icon>
</button>