:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-header,
app-footer {
  flex: 0 0 3rem;
}

main {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;

  > div {
    width: 80%;
  }
}

