<div *ngIf="patient" class="page-title">
  <h1>
    {{ patient.name }}
    <mat-icon class="page-title__edit" (click)="openEditDialog(patient)">edit</mat-icon>
  </h1>
  <mat-divider></mat-divider>
</div>

<mat-tab-group (animationDone)="fixheight()" #tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="flaticon-heart"></i>
      {{ "NAVIGATION.BLOOD_PRESSURE.HOME" | translate }}
    </ng-template>
    <ng-template matTabContent>
      <app-blood-pressure-search></app-blood-pressure-search>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="flaticon-diabetes"></i>
      {{ "NAVIGATION.DIABETES.HOME" | translate }}
    </ng-template>
    DIABETES
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="flaticon-weight"></i>
      {{ "NAVIGATION.WEIGHT.HOME" | translate }}
    </ng-template>
    WEIGHT
  </mat-tab>
</mat-tab-group>