<table mat-table [dataSource]="readings" class="mat-elevation-z8">
  
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef>
      {{ "FORM.DATE_TIME" | translate }}
    </th>
    <td mat-cell *matCellDef="let reading">{{ reading.created_at | date: 'dd.MM.yyyy HH:mm' }}</td>
  </ng-container>
  
  <ng-container matColumnDef="sys">
    <th mat-header-cell *matHeaderCellDef>
      {{ "FORM.BLOOD_PRESSURE.SYS" | translate }}
    </th>
    <td mat-cell *matCellDef="let reading">{{ reading.sys }}</td>
  </ng-container>

  <ng-container matColumnDef="dia">
    <th mat-header-cell *matHeaderCellDef>
      {{ "FORM.BLOOD_PRESSURE.DIA" | translate }}
    </th>
    <td mat-cell *matCellDef="let reading">{{ reading.dia }}</td>
  </ng-container>

  <ng-container matColumnDef="pulse">
    <th mat-header-cell *matHeaderCellDef>
      {{ "FORM.BLOOD_PRESSURE.PULSE" | translate }}
    </th>
    <td mat-cell *matCellDef="let reading">{{ reading.pulse }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
