/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Philosopher", sans-serif;');
@include mat-core($custom-typography);

@import 'vars';
@import 'mixins';
@import 'assets/flaticon/flaticon.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  > .mat-card-content {
    margin-bottom: 0;
  }
  > .mat-card-actions {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px !important;
  }
}

.form {
  &__vertical {
    display: flex;
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }
}

.mat-fab {
  position: absolute!important;
  bottom: 16px;
  right: 16px;
}

.mat-form-field-appearance-outline {
  .mat-form-field-subscript-wrapper {
    padding-left: 0!important;
  }
}

.snack {
  &__success {
    background: $success;
  }

  &__error {
    background: $error;
  }
}

caption {
  text-align: left;

  h1 {
    font-weight: 300;
  }
}

.mat-card-title {
  font-weight: 300;
}

mat-form-field.mat-form-field-should-float label {
  font-size: 18px;
}